Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

chore: update deps
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

build a smaller final container image
  .dockerignore
Due: none

fix: replaced popover api with css
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/layout.html
  test/e2e/pageobjects/create_paste_page.py
Due: black, pytest, flake8

feat: added file removal confirmation modal, updated the e2e tests
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/layout.html
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_remove_file.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

test: added tests for the file removal confirmation modal
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pinnwand.toml
  test/e2e/testscenarios/test_file_removal_confirmation.py
Due: black, pytest, flake8

use `project.scripts` instead of `tool.poetry.scripts` for entrypoints
  pyproject.toml
Due: none

feat: added reporting to e2e tests
  .github/workflows/test.yaml
  .gitignore
  pdm.lock
  pyproject.toml
  requirements.txt
  test/conftest.py
  test/e2e/testscenarios/test_copy_paste.py
Due: black, pytest, flake8

fix: changed css values for the secondary buttons (add and remove file)
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
Due: none

fix: fixed generation of random strings
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

chore: update deps
  pdm.lock
  requirements.txt
Due: none

add a 'show' route for the v1 API
  src/pinnwand/handler/api_v1.py
  src/pinnwand/http.py
  test/integration/test_http_api.py
Due: black, pytest, flake8, mypy

add a logger module that'll boostrap loggers on demand.
  src/pinnwand/logger.py
Due: black, pytest, flake8, mypy

use the new bootsrapped logger
  src/pinnwand/command.py
  src/pinnwand/database.py
  src/pinnwand/defensive.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
  src/pinnwand/http.py
  src/pinnwand/utility.py
Due: black, pytest, flake8, mypy

appease linter
  src/pinnwand/handler/website.py
  src/pinnwand/logger.py
Due: black, pytest, flake8, mypy

Document api v1 paste show endpoint
  doc/usage.rst
Due: none

Replace log.warn with log.warning
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Make underline long enough
  doc/usage.rst
Due: none

Fix warnings when building docs
  CHANGELOG.rst
  doc/conf.py
Due: black, pytest

Fix codeblock directives so they display properly
  doc/index.rst
  doc/installation.rst
Due: none

Send better error messages for 'ValidationError's
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Improve grammar
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

rename the "http" module to "app"
  src/pinnwand/app.py
  src/pinnwand/command.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
Due: black, pytest, flake8, mypy

update job task's name
  .github/workflows/test.yaml
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
