Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

fix deprecation warnings
  test/conftest.py
Due: black, pytest, flake8

bump jinja to 3.1.3
  requirements.txt
Due: none

rename the "http" module to "app"
  src/pinnwand/app.py
  src/pinnwand/command.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
Due: black, pytest, flake8, mypy

doc: update changelog
  CHANGELOG.rst
Due: none

add python dotenv to dependencies
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

load configuration from .env files.
  src/pinnwand/command.py
  src/pinnwand/utility.py
Due: black, pytest, flake8, mypy

add tests for loading config from .env files
  test/integration/test_utility.py
Due: black, pytest, flake8

document the usage of .env files
  doc/configuration.rst
Due: none

fix: replaced testing Python filetypes with Go, fixed generation of a random strings by starting from a letter always
  test/e2e/constants.py
  test/e2e/testscenarios/test_filetype.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

make reaping_periodicity configurable
  doc/configuration.rst
  src/pinnwand/command.py
  src/pinnwand/configuration.py
Due: black, pytest, flake8, mypy

add pytest-asyncio
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

move the databse models into their module
  src/pinnwand/command.py
  src/pinnwand/database.py
  src/pinnwand/db/__init__.py
  src/pinnwand/db/models.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
  src/pinnwand/utility.py
  test/integration/test_database.py
  test/integration/test_utility.py
Due: black, pytest, flake8, mypy

delegate database related resource management to DatabaseManager
  src/pinnwand/db/manager.py
  src/pinnwand/db/utils.py
Due: black, pytest, flake8, mypy

add integration tests for the reap cron job
  test/e2e/pinnwand.toml
  test/integration/test_reaping_job.py
Due: black, pytest, flake8

deprecate the database module in favor of the new package
  src/pinnwand/command.py
  src/pinnwand/database.py
  src/pinnwand/database/__init__.py
  src/pinnwand/database/manager.py
  src/pinnwand/database/models.py
  src/pinnwand/database/utils.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
  src/pinnwand/utility.py
  test/e2e/conftest.py
  test/integration/test_database.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
  test/integration/test_utility.py
Due: black, pytest, flake8, mypy

add better locators for the error page
  src/pinnwand/template/error.html
  test/e2e/pageobjects/error_page.py
Due: black, pytest, flake8

test that pastes are expired pastes are reaped upon review
  test/conftest.py
  test/e2e/conftest.py
  test/e2e/pageobjects/base_page.py
  test/e2e/pageobjects/error_page.py
  test/e2e/testscenarios/test_reaping_expired_pastes.py
  test/integration/test_http_api.py
  test/integration/test_reaping_job.py
Due: black, pytest, flake8

introduce Configuration and ConfigurationProvider
  src/pinnwand/app.py
  src/pinnwand/command.py
  src/pinnwand/configuration.py
  src/pinnwand/database/manager.py
  src/pinnwand/database/models.py
  src/pinnwand/defensive.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
  src/pinnwand/path.py
  test/integration/test_command.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
  test/integration/test_utility.py
Due: black, pytest, flake8, mypy

setup logging upon importing the package
  src/pinnwand/__init__.py
  src/pinnwand/logger.py
Due: black, pytest, flake8, mypy

Add crud utilities in crud.py
  src/pinnwand/crud.py
Due: black, pytest, flake8, mypy

Use crud utilities in handlers
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Re-add some validation checks
  src/pinnwand/database.py
Due: black, pytest, flake8, mypy

Use crud utilities in command line functions
  src/pinnwand/command.py
Due: black, pytest, flake8, mypy

feat: added new paste button, changed design of the links on the View Paste page to align with the other buttons
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  src/pinnwand/template/show.html
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_new_paste.py
Due: black, pytest, flake8

chore: update deps
  pdm.lock
  requirements.txt
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
