Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

lint: new black version
  src/pinnwand/path.py
Due: black, pytest, flake8, mypy

chore: update deps
  pdm.lock
  requirements.txt
Due: none

logo route fix
  src/pinnwand/app.py
  src/pinnwand/template/layout.html
Due: black, pytest, flake8, mypy

404 when logo_path does not exist
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

update changelog
  CHANGELOG.rst
Due: none

enable 3.12 in ci
  .github/workflows/test.yaml
Due: none

fix: faded the View Paste page buttons
  src/pinnwand/template/show.html
Due: none

introduce a ratelimiting decorator
  src/pinnwand/defensive.py
Due: black, pytest, flake8, mypy

move the error handling logic to `write_error` for the /curl handler
  src/pinnwand/handler/api_curl.py
Due: black, pytest, flake8, mypy

decorate all request handler's callback functions with the ratelimiter
  src/pinnwand/error.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

rename the ratelimiter functions
  src/pinnwand/defensive.py
  src/pinnwand/handler/api_curl.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

fix AttributeError thrown by str.removeprefix when python < 3.9
  src/pinnwand/configuration.py
  src/pinnwand/handler/website.py
  test/integration/test_config.py
Due: black, pytest, flake8, mypy

fix AttributeError thrown by str.removeprefix when python < 3.9
  src/pinnwand/configuration.py
  test/integration/test_config.py
Due: black, pytest, flake8, mypy

add dotenv as a dependency
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

document the usage of .env files
  doc/configuration.rst
Due: none

load variables from .env files
  src/pinnwand/configuration.py
Due: black, pytest, flake8, mypy

add tests for loading config from .env files
  test/integration/test_config.py
Due: black, pytest, flake8

use the ip address as the key to identify the correct token bucket
  src/pinnwand/defensive.py
  src/pinnwand/handler/api_curl.py
Due: black, pytest, flake8, mypy

narrow down the patching scope of the ratelimit config
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
Due: black, pytest, flake8

pass remote_ip instead of entire request object to should_be_ratelimited
  src/pinnwand/defensive.py
Due: black, pytest, flake8, mypy

bump black version
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

add tests to cover the ratelimiting behavior
  test/integration/test_http_ratelimit.py
Due: black, pytest, flake8

bump black version
  pdm.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
