Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

Remove height from textarea style
  src/asset/pinnwand.scss
Due: none

Remove height from textarea style
  src/pinnwand/static/pinnwand.css
Due: none

test: xfail autodetect
  test/integration/test_utility.py
Due: black, pytest, flake8

deps: update
  pdm.lock
  requirements.txt
Due: none

changelog: set date
  CHANGELOG.rst
Due: none

test/e2e: ignore `pinnwand.toml`
  .gitignore
  test/e2e/pinnwand.toml
Due: none

javascript: remove default indentation
  CHANGELOG.rst
  src/pinnwand/static/pinnwand.js
Due: none

test: conditional e2e discovery
  CHANGELOG.rst
  test/conftest.py
Due: black, pytest, flake8

pinnwand: use aware datetime objects
  CHANGELOG.rst
  pdm.lock
  pyproject.toml
  requirements.txt
  src/pinnwand/database/models.py
  src/pinnwand/handler/api_deprecated.py
  src/pinnwand/handler/api_v1.py
  src/pinnwand/handler/website.py
  src/pinnwand/utility.py
  test/e2e/pinnwand.toml
Due: black, pytest, flake8, mypy

OpenRC: example init script
  etc/openrc/pinnwand.confd
  etc/openrc/pinnwand.initd
Due: none

fix: set env vars as strings when literal_eval fails
  src/pinnwand/configuration.py
Due: black, pytest, flake8, mypy

ci: update upload action
  .github/workflows/test.yaml
Due: none

chore: deps update
  pdm.lock
  requirements.txt
Due: none

container: update to fedora 42
  Containerfile
Due: none

document trick to pre-select lexer via web URL
  doc/tricks.rst
Due: none

update IRC network
  README.md
Due: none

build(deps): add toml to dev dependencies
  pdm.lock
  pyproject.toml
Due: none

feat(pre-commit): add pdm-export hook to generate requirements.txt
  .pre-commit-config.yaml
Due: none

test: replace toml usage with tomli and tomli-w
  pdm.lock
  pyproject.toml
  requirements.txt
  test/e2e/conftest.py
  test/e2e/utils/props_utils.py
  test/integration/test_config.py
  test/integration/test_reaping_job.py
Due: black, pytest, flake8

Update click and fix tests
  .github/workflows/test.yaml
  README.md
  doc/index.rst
  pdm.lock
  pyproject.toml
  requirements.txt
  test/integration/test_command.py
Due: black, pytest, flake8

Test on Python 3.13 and 3.14
  .github/workflows/test.yaml
Due: none

Update defensive.py
  src/pinnwand/defensive.py
Due: black, pytest, flake8, mypy

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
