Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, mypy, isort, bandit

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

mypy:
  name: mypy
  language: system
  entry: python -m mypy

isort:
  name: isort
  language: system
  entry: python -m isort

bandit:
  name: bandit
  language: system
  entry: python -m bandit

Fix spam score regex (add non-captured groups)
  src/pinnwand/defensive.py
Due: black, pytest, mypy, isort, bandit

Replace pdm-pep517 with pdm-backend
  pyproject.toml
Due: none

feat(pre-commit): add pdm-export hook to generate requirements.txt
  .pre-commit-config.yaml
Due: none

test: replace toml usage with tomli and tomli-w
  pdm.lock
  pyproject.toml
  requirements.txt
  test/e2e/conftest.py
  test/e2e/utils/props_utils.py
  test/integration/test_config.py
  test/integration/test_reaping_job.py
Due: black, pytest

chore: update deps
  pdm.lock
  requirements.txt
Due: none

chore: reformat with new black
  src/pinnwand/database/models.py
  src/pinnwand/defensive.py
Due: black, pytest, mypy, isort, bandit

chore: deps update
  pdm.lock
  requirements.txt
Due: none

chore: prepare 1.6.1 release
  CHANGELOG.rst
Due: none

feat: add configurable indent toolbar to paste editor
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
Due: none

test: defensive tests
  CHANGELOG.rst
  test/integration/test_defensive.py
Due: black, pytest

defensive: test for numbers in domains
  CHANGELOG.rst
  src/pinnwand/defensive.py
  test/integration/test_defensive.py
Due: black, pytest, mypy, isort, bandit

defensive: test for uppercase in domains
  CHANGELOG.rst
  src/pinnwand/defensive.py
  test/integration/test_defensive.py
Due: black, pytest, mypy, isort, bandit

Fix hitting enter from filename removes file
  src/pinnwand/static/pinnwand.js
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_create_paste.py
Due: black, pytest

Fix E2E test tautologies and resulting bad tests
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_filetype.py
  test/e2e/utils/file_utils.py
Due: black, pytest

Blacken tests
  test/conftest.py
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_copy_paste.py
  test/e2e/testscenarios/test_create_paste.py
  test/integration/test_defensive.py
  test/integration/test_http_ratelimit.py
  test/integration/test_utility.py
Due: black, pytest

Run black against test/ in CI
  .github/workflows/lint.yaml
Due: none

Run black against test/ in pre-commit, use --check
  .pre-commit-config.yaml
Due: none

Add config mount and document SQLite persistence
  compose.yml
Due: none

Add Docker setup instructions
  Docker-README.md
Due: none

Set 'long' checkbox to checked by default
  src/pinnwand/template/create.html
Due: none

lint: various fixes
  doc/conf.py
  src/pinnwand/defensive.py
  test/conftest.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_create_paste.py
  test/e2e/testscenarios/test_download_paste.py
  test/e2e/testscenarios/test_new_paste.py
  test/e2e/testscenarios/test_reaping_expired_pastes.py
  test/e2e/testscenarios/test_repaste_paste.py
  test/e2e/testscenarios/test_uri.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
Due: black, pytest, mypy, isort, bandit

deps: update
  pdm.lock
  requirements.txt
Due: none

ci: drop vuln workflow
  .github/workflows/vuln.yaml
Due: none

ci: drop vuln from main
  .github/workflows/main.yaml
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
  isort: any of: \.py$, but not: ^doc/conf.py|^test
  bandit: any of: \.py$, but not: ^doc/conf.py|^test
