Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

narrow down the patching scope of the ratelimit config
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
Due: black, pytest, flake8

add a contributing document
  CONTRIBUTING.md
Due: none

document the process of adding a dependency
  CONTRIBUTING.md
Due: none

reword the working on features part
  CONTRIBUTING.md
Due: none

add a more welcoming message to contribs
  CONTRIBUTING.md
Due: none

mention the importance of testing
  CONTRIBUTING.md
Due: none

reword the new dependencies section
  CONTRIBUTING.md
Due: none

reword the changes submission section
  CONTRIBUTING.md
Due: none

Fixed alignment of items in paste-submit
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
Due: none

Add flex class on both page
  src/pinnwand/template/create.html
  src/pinnwand/template/show.html
Due: none

Add flex to make buttons stay inline
  src/asset/pinnwand.scss
Due: none

Removed unwanted css class
  src/pinnwand/template/show.html
Due: none

Add generated asset css
  src/pinnwand/static/pinnwand.css
Due: none

batch delete the expired pastes
  src/pinnwand/utility.py
Due: black, pytest, flake8, mypy

test that unexpired pastes shouldn't & won't be deleted
  test/e2e/pinnwand.toml
  test/integration/test_reaping_job.py
Due: black, pytest, flake8

retire the BrowserManager
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_copy_paste.py
  test/e2e/testscenarios/test_create_paste.py
Due: black, pytest, flake8

expose new_context & new_page as context managers from BrowserManager
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_copy_paste.py
  test/e2e/testscenarios/test_create_paste.py
Due: black, pytest, flake8

doc: clarify slug_create
  src/pinnwand/utility.py
Due: black, pytest, flake8, mypy

doc: hash_create gets a docstring
  src/pinnwand/utility.py
Due: black, pytest, flake8, mypy

feat: press tab inserts language specific num of spaces or default
  src/pinnwand/static/pinnwand.js
Due: none

add arm64 images
  .github/workflows/build.yaml
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
