Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: python -m black
      types: [python]
    - id: pytest
      name: pytest
      language: system
      pass_filenames: false
      entry: python -m pytest -q
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: python -m flake8
      types: [python]
      exclude: ^doc/conf.py
    - id: mypy
      name: mypy
      language: system
      entry: python -m mypy
      types: [python]
      exclude: ^doc/conf.py|^test

test: added scenarios for the drag-and-drop feature
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_drag_and_drop_files.py
  test/e2e/utils/file_utils.py
Due: black, pytest, flake8

test: added scenarios for the theme toggle
  test/e2e/constants.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_theme.py
Due: black, pytest, flake8

test: added scenarios for copy to clipboard feature
  .github/workflows/test.yaml
  pdm.lock
  pyproject.toml
  requirements.txt
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_copy_paste.py
  test/e2e/utils/clipboard_utils.py
Due: black, pytest, flake8

update deps
  pdm.lock
  requirements.txt
Due: none

update deps (but this time from 3.8)
  requirements.txt
Due: none

test: added scenarios for various paste formats
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/error_page.py
  test/e2e/pageobjects/preview_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_paste_formats.py
Due: black, pytest, flake8

test: added scenarios for downloading separate files and an archive
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_download_paste.py
  test/e2e/utils/file_utils.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

test: added scenarios for repasting
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_repaste_paste.py
Due: black, pytest, flake8

test: added scenarios for removing paste files
  .github/workflows/test.yaml
  test/e2e/pageobjects/base_page.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_remove_file.py
  test/e2e/testscenarios/test_theme.py
Due: black, pytest, flake8

feat: added a js function for managing the Remove File buttons
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/create.html
Due: none

test: added additional tests for the Remove This File button
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_remove_file.py
Due: black, pytest, flake8

add a 'show' route for the v1 API
  src/pinnwand/handler/api_v1.py
  src/pinnwand/http.py
  test/integration/test_http_api.py
Due: black, pytest, flake8, mypy

test: added a test for the word wrapping, added white spaces to the generation of random paste inputs
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_download_paste.py
  test/e2e/testscenarios/test_paste_formats.py
  test/e2e/testscenarios/test_toggle_word_wrap.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

deps: update
  pdm.lock
  requirements.txt
Due: none

deps: explicitly bump gitpython
  pdm.lock
  pyproject.toml
  requirements.txt
Due: none

test: added tests for paste uris
  test/e2e/conftest.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/pinnwand.toml
  test/e2e/testscenarios/test_uri.py
  test/e2e/utils/database_utils.py
  test/e2e/utils/file_utils.py
  test/e2e/utils/props_utils.py
Due: black, pytest, flake8

test: added tests for filenames
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pinnwand.toml
  test/e2e/testscenarios/test_set_filename.py
  test/e2e/utils/file_utils.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

test: additional scenarios for filenames
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_filename.py
  test/e2e/testscenarios/test_set_filename.py
  test/e2e/utils/file_utils.py
Due: black, pytest, flake8

test: added scenarios for setting filetypes
  test/e2e/constants.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_filetype.py
Due: black, pytest, flake8

asset: include previous changes in sass
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
Due: none

fix: corrected alignment of the Remove this file button
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

feat: added file removal confirmation modal, updated the e2e tests
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/layout.html
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_remove_file.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

test: added tests for the file removal confirmation modal
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pinnwand.toml
  test/e2e/testscenarios/test_file_removal_confirmation.py
Due: black, pytest, flake8

fix: replaced popover api with css
  src/asset/pinnwand.scss
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/layout.html
  test/e2e/pageobjects/create_paste_page.py
Due: black, pytest, flake8
