Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: python -m black

pytest:
  name: pytest
  language: system
  pass_filenames: false
  entry: python -m pytest -q

flake8:
  name: flake8
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  language: system
  entry: python -m mypy

doc: Update CHANGELOG
  CHANGELOG.rst
Due: none

Add line range(s) highlight support
  src/pinnwand/static/pinnwand.js
Due: none

Ignore intellij cruft
  .gitignore
Due: none

Add debug option to http command
  src/pinnwand/command.py
  src/pinnwand/http.py
Due: black, pytest, flake8, mypy

Add file drop functionality
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/create.html
Due: none

Add file picker for file upload functionality
  src/pinnwand/static/pinnwand.css
  src/pinnwand/static/pinnwand.js
  src/pinnwand/template/create.html
Due: none

Update CHANGELOG
  CHANGELOG.rst
Due: none

Make uploading file subsume the first empty file part automatically
  src/pinnwand/static/pinnwand.js
Due: none

Move file upload section down
  src/pinnwand/static/pinnwand.css
  src/pinnwand/template/create.html
Due: none

test/browser: add playwright dependencies
  .gitignore
  package-lock.json
  package.json
  pdm.lock
  pyproject.toml
Due: none

test/browser: add a demo assertion, this fails
  test/test_browser.py
Due: black, pytest, flake8

chore: prepare for release
  CHANGELOG.rst
  pyproject.toml
Due: none

(test): added settings for browser tests, added a sample test
  .github/workflows/test.yaml
  pdm.lock
  pyproject.toml
  requirements.txt
  test/conftest.py
  test/e2e/__init__.py
  test/e2e/env_config.py
  test/e2e/pageobjects/__init__.py
  test/e2e/pageobjects/base_page.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/testscenarios/test_create_paste.py
Due: black, pytest, flake8

doc: update changelog with browser
  CHANGELOG.rst
Due: none

meta: update version
  pyproject.toml
Due: none

test: added multi paste and delete paste scenarios, added info about testing to the documentation
  README.md
  test/e2e/conftest.py
  test/e2e/env_config.py
  test/e2e/pageobjects/base_page.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/error_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_create_paste.py
  test/e2e/testscenarios/test_delete_paste.py
Due: black, pytest, flake8

lint: sort imports
  test/e2e/conftest.py
  test/e2e/env_config.py
  test/e2e/pageobjects/base_page.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pageobjects/error_page.py
  test/e2e/pageobjects/view_paste_page.py
  test/e2e/playwright/browser_manager.py
  test/e2e/testscenarios/test_create_paste.py
  test/e2e/testscenarios/test_delete_paste.py
  test/test_http_api.py
  test/test_http_curl.py
  test/test_http_website.py
  test/test_utility.py
Due: black, pytest, flake8

doc: put correct argument for tests
  README.md
Due: none

test: put into categories
  test/integration/test_command.py
  test/integration/test_database.py
  test/integration/test_http_api.py
  test/integration/test_http_curl.py
  test/integration/test_http_website.py
  test/integration/test_utility.py
Due: black, pytest, flake8

ci: run only the applicable test cases
  .github/workflows/test.yaml
Due: none

chore: fix sqlalchemy deprecation
  src/pinnwand/database.py
Due: black, pytest, flake8, mypy

fix sql image names
  doc/installation.rst
Due: none

test: added scenarios for the file upload feature
  test/e2e/conftest.py
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/pinnwand.toml
  test/e2e/testscenarios/test_delete_paste.py
  test/e2e/testscenarios/test_upload_files.py
  test/e2e/utils/file_utils.py
  test/e2e/utils/string_utils.py
Due: black, pytest, flake8

test: added scenarios for the drag-and-drop feature
  test/e2e/pageobjects/create_paste_page.py
  test/e2e/testscenarios/test_drag_and_drop_files.py
  test/e2e/utils/file_utils.py
Due: black, pytest, flake8

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$, but not: ^doc/conf.py
  mypy: any of: \.py$, but not: ^doc/conf.py|^test
